language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules
script:
  - cd client
  - npm install
  - npm run build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: client
  on:
    branch: gh-pages