.btn {
	font-size: 1.1em;
	padding: .4em .6em;
	border: 0;
	border-radius: 2px;
	color: white;
	cursor: pointer;

	background-color: $green;

	&:hover {
		background-color: lighten($green, 10%);
	}

	&.-small {
		font-size: 1em;
	}

	&.-red {
		background-color: $red;
	
		&:hover {
			background-color: lighten($red, 10%);
		}
	}

	&.-dark {
		background-color: $dark;
	
		&:hover {
			background-color: lighten($dark, 10%);
		}
	}
}