.icon-commodity,
.icon-currency {
  top: 1px;
  position: relative;
}

#app {
  .icon-commodity:before {
    content: unicode($icon-coin);
  }

  &[data-currency='dollar'] .icon-currency:before {
    content: unicode($icon-dollar);
  }

  &[data-currency='euro'] .icon-currency:before {
    content: unicode($icon-euro);
  }

  &[data-currency='yen'] .icon-currency:before {
    content: unicode($icon-yen);
  }

  &[data-currency='bitcoin'] .icon-currency:before {
    content: unicode($icon-btc);
  }

  &[data-currency='ethereum'] .icon-currency:before {
    content: unicode($icon-eth);
  }

  &[data-currency='pound'] .icon-currency:before {
    content: unicode($icon-pound);
  }

  &[data-commodity='bitcoin'] .icon-commodity:before {
    content: unicode($icon-btc);
  }

  &[data-commodity='ethereum'] .icon-commodity:before {
    content: unicode($icon-eth);
  }

  &[data-commodity='xmr'] .icon-commodity:before {
    content: unicode($icon-xmr);
  }

  &[data-commodity='ltc'] .icon-commodity:before {
    content: unicode($icon-ltc);
  }

  &[data-commodity='xrp'] .icon-commodity:before {
    content: unicode($icon-xrp);
  }

  &[data-commodity='ada'] .icon-commodity:before {
    content: unicode($icon-ada);
  }

  &[data-commodity='trx'] .icon-commodity:before {
    content: unicode($icon-trx);
  }

  &[data-commodity='neo'] .icon-commodity:before {
    content: unicode($icon-neo);
  }

  &[data-commodity='iota'] .icon-commodity:before {
    content: unicode($icon-iota);
  }
}