body.theme-dark {
  background-color: $dark;
  color: white;

  header#header {
    background-color: lighten($dark, 10%);
    color: white;

    button {
      color: white;
    }
  }

  #app.loading header#header {
    &:before,
    &:after {
      background-color: lighten($dark, 28%);
    }
  }

  .settings__container,
  .settings__container .stack__scroller {
    background-color: $dark;
  }

  .stack__container {
    .stack__backdrop {
      background-color: rgba(black, .5);
    }

    .stack__toggler {
      color: white;
    }
  }

  .chart__container .chart__selection {
    background-color: rgba(white, 0.1);
  }

  .trades__item.trades__item--sell {
    color: lighten($red, 15%);
    background-color: rgba($red, 0.1);

    &.trades__item--significant {
      background-color: $red;
      color: white;
    }
  }

  .trades__item.trades__item--buy {
    color: $green;
    background-color: rgba($green, 0.1);

    &.trades__item--significant {
      background-color: $green;
      color: white;
    }
  }

  #stats {
    .stats__infos:before {
      color: white;
    }
  }

  #exchanges {
    .exchange__action-up {
      background-color: $green;
      color: white;
    }

    .exchange__action-down {
      background-color: $red;
      color: white;
    }

    .exchange__action-neutral {
      background-color: rgba(white, .4);
      color: rgba(white, .75);
    }
  }

  #counters {
    .counter__index {
      color: white;
      background-color: rgba(black, .2);
    }

    .counter__item {
      background: none;
    }

    .counter__up,
    .counter__down {
      margin: 0;
      border: 0;
    }

    .counter__up {
      background-color: desaturate($green, 5);
      color: white;
    }

    .counter__down {
      background-color: $red;
      color: white;
    }
  }

}