@keyframes appear-from-above {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;

  &.-left {
    .dropdown__options {
      right: auto;
      left: 0;

      .dropdown__option {
        justify-content: flex-start;
        padding: 0.6em 2em 0.6em 1.6em;
      }
    }
  }

  &__selected {
    cursor: pointer;

    span {
      display: none;
    }
  }

  &__options {
    position: absolute;
    top: 1.75em;
    right: 0;
    overflow: hidden;
    border-radius: 2px;
    text-align: right;
    min-width: 5em;
    margin: 0;
    color: white;
    padding: 0;
    z-index: 1000;

    animation: 0.33s $easeOutExpo appear-from-above;
    white-space: nowrap;

    cursor: pointer;
  }

  &__option {
    background-color: lighten($dark, 15%);
    padding: 0.6em 1.6em 0.6em 2em;
    transition: background-color 0.2s $easeOutExpo;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-end;

    span {
      opacity: 0.33;
    }

    &:nth-child(odd) {
      background-color: lighten($dark, 18%);
    }

    &.active {
      font-weight: 600;
    }

    &:hover {
      background-color: lighten($dark, 30%);
    }
  }

  &__label {
    display: inline-block;
    opacity: 0.5;

    &:after {
      content: ':';
      margin: 0 0.25em;
    }
  }
}
