html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

*:focus {
	outline: none;
}

a {
	text-decoration: none;
}

.mt15 {
	margin-top: 15px;
}

.mb15 {
	margin-bottom: 15px;
}

.mt8 {
	margin-top: 8px;
}

.mb8 {
	margin-bottom: 8px;
}

.mr8 {
  margin-right: 8px;
}

.ml8 {
  margin-right: 8px;
}

.mr4 {
  margin-right: 4px;
}

.ml4 {
  margin-right: 4px;
}

.flex-right {
	justify-content: flex-end;
}

.flex-left {
	justify-content: flex-start;
}

.flex-center {
	justify-content: center;
}

.flex-top {
	align-items: flex-start;
}

.flex-bottom {
	align-items: flex-end;
}

.flex-middle {
	align-items: center;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.condensed {
	font-family: 'Roboto Condensed';
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(white, .5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}