#app {
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 100%;

	@media screen and (min-width: 768px) {
		height: 100vh;
	}
}

.app__wrapper {
  height: 100%;
  transition: transform .3s $easeOutExpo;
}

.stack__container {
  transform: none;
  overflow: hidden;
  font-size: 12px;
  z-index: 1;

  @media screen and (min-width: 500px) {
    .stack__backdrop {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      display: block;
      background-color: rgba(white, 0.5);
      pointer-events: none;
    }
  }

  .stack__scroller {
    overflow: auto;
    position: relative;
    max-height: 100%;
  }

  .stack__toggler {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    opacity: 0.2;
    padding: 8px;
    z-index: 1;

    &:hover {
      opacity: 1;
    }
  }

  .stack__wrapper {
    padding: 8px 10px;
    position: relative;

    p {
      margin: 0 0 2px;

      &:last-child {
        margin: 0;
      }
    }

    code {
      background-color: rgba(black, 0.1);
      font-weight: 400;
      padding: 3px 4px;
      line-height: 1;
      display: inline-block;
      position: relative;
      letter-spacing: -0.5px;
    }
  }
}

.app__wrapper {
	display: flex;
	flex-direction: column;

	@media screen and (min-width: 768px) {
		height: 100vh;

		#header {
			flex-grow: 0;
			flex-basis: auto;
			flex-shrink: 0;
		}

		.app__layout {
			flex-grow: 1;
		}
	}
}

.app__layout {
	display: flex;
	flex-direction: column;

	#exchanges {
		display: none;
	}

	.app__left {
		display: flex;
		flex-direction: column;
	}

	.app__right {
		display: flex;
		flex-direction: column;
	}


	@media screen and (min-width: 480px) and (max-width: 767px) {
		.app__right {
			font-size: 1.1em;
		}
	}

	@media screen and (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;

		#exchanges {
			display: flex;
		}

		.app__left {
			overflow: hidden;
			flex-basis: calc(2/3 * 100%);
			flex-grow: 0;

			#chart {
				overflow: hidden;
				flex-grow: 1;
			}
		}

		.app__right {
			overflow: hidden;
			flex-basis: calc(1/3 * 100%);

			font-size: .8em;
			flex-grow: 1;

			font-size: 1.05em;

			#stats .stats__items {
				flex-wrap: wrap;
				margin: 0 0 0 20%;

				> li {
					flex-basis: 50%;
					flex-grow: 1;
					align-items: flex-end;

					&:nth-child(-n+2) {
						.stats__value {
							padding-bottom: .5em;
						}
					}

					&:nth-child(n+3) {
						.stats__label {
							padding-top: .5em;
						}
					}
				}
			}

			#trades {
				flex-grow: 1;
				overflow: auto;
				font-size: .8em;
			}
		}
	}

	@media screen and (min-width: 992px) {
		.app__right #trades {
			font-size: 1.1em;
		}
	}

	@media screen and (min-width: 1200px) {
		.app__left {
			flex-basis: 75%;
		}

		.app__right {
			font-size: 1.1em;
			flex-basis: 25%;

			#trades {
				font-size: .9em;
			}
		}
	}

	@media screen and (min-width: 1600px) {
		.app__right {
			font-size: 1.2em;
		}
	}
}