#app {
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 100%;
  background-color: $dark;
  color: white;

  @media screen and (min-width: 768px) {
    height: 100vh;
  }

  &.loading {
    .app__layout {
      transition: opacity 5s $easeElastic;
      opacity: 0.9;
    }
  }
}

.app__wrapper {
  height: 100%;
  transition: transform 0.3s $easeOutExpo;
}

.stack__container {
  transform: none;
  overflow: hidden;
  font-size: 12px;
  z-index: 1;

  @media screen and (min-width: 500px) {
    .stack__backdrop {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      display: block;
      background-color: rgba(black, 0.2);
      pointer-events: none;
    }
  }

  .stack__scroller {
    overflow: auto;
    position: relative;
  }

  .stack__toggler {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    opacity: 0.2;
    padding: 8px;
    z-index: 1;
    color: white;

    &:hover {
      opacity: 1;
    }
  }

  .stack__wrapper {
    padding: 8px 10px;
    position: relative;

    p {
      margin: 0 0 2px;

      &:last-child {
        margin: 0;
      }
    }

    code {
      background-color: rgba(black, 0.1);
      font-weight: 400;
      padding: 3px 4px;
      line-height: 1;
      display: inline-block;
      position: relative;
      letter-spacing: -0.5px;
    }
  }
}

.app__wrapper {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    height: 100vh;

    #header {
      flex-grow: 0;
      flex-basis: auto;
      flex-shrink: 0;
    }

    .app__layout {
      flex-grow: 1;
      min-height: 0px;
    }
  }
}

.app__layout {
  display: flex;
  flex-direction: column;

  #exchanges {
    display: none;
  }

  .app__right {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    .app__right {
      font-size: 1.1em;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;

    #trades {
      position: relative;

      ul {
        position: absolute;
        left: 0;
        right: 0;
      }
    }

    #chart {
      overflow: hidden;
      flex-grow: 0;
      max-height: 100%;

      #chart {
        overflow: hidden;
        flex-grow: 1;
      }
    }

    .app__right {
      overflow: hidden;
      flex-grow: 1;
      font-size: 1.05em;

      #trades {
        flex-grow: 1;
        overflow: auto;
        font-size: 0.8em;
      }
    }
  }

  @media screen and (max-width: 379px) {
    #trades {
      font-size: 0.8em;
    }
  }

  @media screen and (min-width: 1200px) {
    .app__right {
      font-size: 1.1em;

      #trades {
        font-size: 0.9em;
      }
    }
  }

  @media screen and (min-width: 1600px) {
    .app__right {
      font-size: 1.2em;
    }
  }
}

.min-768 {
  display: none;
}

@media screen and (min-width: 768px) {
  .min-768 {
    display: inline-block;
  }

  .max-767 {
    display: none;
  }
}

.min-280 {
  display: none;
}

@media screen and (min-width: 280px) {
  .min-280 {
    display: inline-block;
  }
}
