.app__wrapper {
	display: flex;
	flex-direction: column;

	@media screen and (min-width: 768px) {
		height: 100vh;

		#header {
			flex-grow: 0;
			flex-basis: auto;
			flex-shrink: 0;
		}

		.app__layout {
			flex-grow: 1;
		}
	}
}

.app__layout {
	display: flex;
	flex-direction: column;

	.app__widgets {
		display: flex;
		flex-direction: column;
	}


	@media screen and (min-width: 480px) and (max-width: 767px) {
		.app__widgets {
			font-size: 1.1em;
		}
	}

	@media screen and (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;

		#chart {
			overflow: hidden;
			flex-basis: 75%;
			flex-grow: 0;
		}

		.app__widgets {
			overflow: hidden;
			flex-basis: 25%;

			font-size: .8em;
			flex-grow: 1;

			#stats .stats__items {
				flex-wrap: wrap;
			}

			#trades {
				flex-grow: 1;
				overflow: auto;
			}
		}
	}

	@media screen and (min-width: 1400px) {
		.app__widgets {
			font-size: 1.2em;

			#stats {
				font-size: .8em;

				.stats__items {
					margin-left: 100px;
				}
			}
		}
	}
}

#app {
	@media screen and (min-width: 768px) {
		height: 100vh;
	}
}