$green: #43A047;
$red: #F44336;
$blue: #2196F3;
$orange: #fbc02d;
$dark: #171b29;
$pink: #E91E63;

$easeOutExpo: cubic-bezier(0.005, 1.000, 0.220, 1.000);
$easeElastic: cubic-bezier(0, 1.4, 1, 1);

$icon-bitcoin: \e900;
$icon-btc: \e901;
$icon-dollar: \e902;
$icon-down: \e903;
$icon-eth: \e904;
$icon-euro: \e905;
$icon-info: \e906;
$icon-monero: \e907;
$icon-pound: \e908;
$icon-up: \e90a;
$icon-warning: \e90b;
$icon-yen: \e90c;
$icon-cog: \e90d;
$icon-check: \e90e;
$icon-coin: \e90f;
$icon-history: \e910;
$icon-play: \e911;
$icon-info-circle: \e912;
$icon-bear: \e913;
$icon-bull: \e914;
$icon-external-link: \e915;
$icon-night: \e916;
$icon-day: \e917;
$icon-cross: \e918;
$icon-expand: \e909;
$icon-balance: \e919;
$icon-magic: \e91a;
$icon-numbers: \e91b;
$icon-invisible: \e91d;
$icon-visible: \e91c;
$icon-skull: \e91e;

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}